@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Poppins:wght@400;500;700&display=swap');
:root{
--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}
.col-dark{

  color: var(--Very-dark-grayish-blue);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: Barlow,poppins;
  background-color: var(--Light-grayish-blue);
}
.layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    padding: 10px 40px;
  max-width: 1360px;
  margin:auto;
}
.items{
 color: white; 
 padding: 30px;
 border-radius: 1rem;
 cursor: pointer;
 transition: ease-out;
}

.text>p:first-child{
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.text>p:last-child{
  color: var(--Light-gray);
}
.items:nth-child(1){
  grid-column:1/3;
  background-color: var(--Moderate-violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.items:nth-child(2){
  background-color: var(--Very-dark-grayish-blue);
}
.items:nth-child(3){
  background-color: var(--White);
  color: var(--Light-gray);
}
.items:nth-child(4){
  grid-column: 2/4;
  background-color: var(--Very-dark-blackish-blue);
}
.items:nth-child(5){
  grid-row: 1/span 2;
  grid-column: 4;
  height: 100%;
  background-color: var(--White);
  color: var(--Light-gray);
}
img{
  width: 40px;
  border-radius: 50%;
}
.top-sec{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.user>span{
  font-size: 12px;
  color: var(--Light-gray);
}